<h2>SignUp for super cool stories!</h2>

<div id="forms" class="modal">
  
  <form class="modal-content" action="" method="post"> <!--action: takes the form data to .php or backend (specifies wjere tos end the data), method post sends data as an http post transaction-->
    <div class="container">
    	<label for="name"><b>Name</b></label>
      <div>
      <input type="text" placeholder="Enter your name" name="name" required>
      </div>

      <label for="uname"><b>Username</b></label>
      <div>
      <input type="text" placeholder="Enter Username" name="uname" required>
      </div>
      <label for="email"><b>Email Id</b></label>
      <div>
      <input type="email" placeholder="Enter Email-Id" name="emailid" required>
      </div>

      <label for="psw"><b>Password</b></label>
      <div>
      <input type="password" placeholder="Enter Password" name="psw" required>
      </div>

      <button type="submit">
      <a href="/login">Complete SignUp</a></button>
</div>
</form>
</div>